<section id="viewLogin" class="viewLogin">
    <h1 class="titleForm">Please login</h1>
    <form id="formLogin" class="form" action="#/login" method="post">
        <div>Username:</div>
        <div><input type="text" name="username" required /></div>
        <div>Password:</div>
        <div><input type="password" name="password" required /></div>
        <input id="buttonLoginUser" value="Sign In" type="submit">
    </form>
</section>

<!--<div><input type="button" id="buttonLoginUser" value="Login" /></div>-->
